# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending 645-675 per student actually underperformed compared to schools with smaller budgets (585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

In [73]:
# Dependencies and Setup
import pandas as pd
import os
import csv

# File to Load (Remember to Change These)
school_data_to_load = "Resources\schools_complete.csv"
student_data_to_load = "Resources\students_complete.csv"

# Read School Data File and store into Pandas DataFrames
school_data_df = pd.read_csv(school_data_to_load)
school_data_df

#Read Student Data File and store into Pandas DataFrames
student_data_df = pd.read_csv(student_data_to_load)
student_data_df


# Combine the data into a single dataset.  
school_data_complete_df = pd.merge(student_data_df, school_data_df, how="left", on=["school_name", "school_name"])
school_data_complete_df. head(20)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
7,7,Nicole Baker,F,12th,Huang High School,96,69,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635
10,10,Andrew Alexander,M,10th,Huang High School,90,70,0,District,2917,1910635
11,11,Daniel Cooper,M,10th,Huang High School,78,77,0,District,2917,1910635
12,12,Brittney Walker,F,9th,Huang High School,64,79,0,District,2917,1910635
13,13,William Long,M,9th,Huang High School,71,79,0,District,2917,1910635
14,14,Tammy Hebert,F,10th,Huang High School,85,67,0,District,2917,1910635
15,15,Dr. Jordan Carson,M,11th,Huang High School,94,88,0,District,2917,1910635
16,16,Donald Zamora,M,9th,Huang High School,88,55,0,District,2917,1910635
17,17,Kimberly Santiago,F,9th,Huang High School,74,75,0,District,2917,1910635
18,18,Kevin Stevens,M,9th,Huang High School,64,69,0,District,2917,1910635
19,19,Brandi Lyons,F,9th,Huang High School,89,80,0,District,2917,1910635

## District Summary

In [74]:
# Calculate the total number of unique schools
school_count = len(school_data_df["school_name"].unique())

print(school_count)

15

In [75]:
# Calculate the total number of students
student_count = school_data_complete["Student ID"].count()

print(student_count)

39170

In [76]:
# Calculate the total budget
total_budget = school_data_df["budget"].sum()

print(total_budget)

24649428

In [77]:
# Calculate the average (mean) math score
average_math_score =school_data_complete["math_score"].mean() 

print(average_math_score)

78.98537145774827

In [78]:
# Calculate the average (mean) reading score
average_reading_score = school_data_complete["reading_score"].mean()

print(average_reading_score)

81.87784018381414

In [79]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100

print(passing_math_percentage)

74.9808526933878

In [80]:
# Calculate the percentage of students who passeed reading (hint: look at how the math percentage was calculated)  
passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100

print(passing_reading_percentage)

85.80546336482001

In [81]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [82]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary_df = pd.DataFrame(
          [{"Total Schools": school_count, 
          "Total Students": student_count, 
          "Total Budget": total_budget,
          "Average Math Score": average_math_score, 
          "Average Reading Score": average_reading_score,
          "% Passing Math": passing_math_percentage,
         "% Passing Reading": passing_reading_percentage,
        "% Overall Passing": overall_passing_rate}])

# Formatting
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary

In [83]:
# Use the code provided to select the school type
school_types = school_data_df.set_index(["school_name"])["type"]

print(school_types)

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [84]:
# Calculate the total student count
school_counts = school_data_complete_df["school_name"].value_counts()

print(school_counts)

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [85]:
# Calculate the total school budget and per capita spending

school_capita =total_budget / school_counts
print(school_capita)

Bailey High School        4953.663183
Johnson High School       5177.363579
Hernandez High School     5318.107443
Rodriguez High School     6163.897974
Figueroa High School      8358.571719
Huang High School         8450.266712
Ford High School          8999.426068
Wilson High School       10796.946124
Cabrera High School      13266.645856
Wright High School       13694.126667
Shelton High School      13997.403748
Thomas High School       15076.102752
Griffin High School      16791.163488
Pena High School         25623.106029
Holden High School       57726.997658
Name: school_name, dtype: float64

In [86]:
# Calculate the average test scores
avg_math = sum(school_data_complete['math_score']) / len(school_data_complete['math_score'])
avg_math = round(avg_math, 2)

print (avg_math)

avg_read = sum(school_data_complete['reading_score']) / len(school_data_complete['reading_score'])
avg_read = round(avg_read, 2)
print(avg_read)

78.99
81.88

In [87]:
# Calculate the number of schools with math scores of 70 or higher
school_passing_math = school_data_complete_df[(school_data_complete_df["math_score"] >= 70)]

print(school_passing_math)

       Student ID     student_name gender grade         school_name  \
0               0     Paul Bradley      M   9th   Huang High School
4               4       Bonnie Ray      F   9th   Huang High School
5               5    Bryan Miranda      M   9th   Huang High School
6               6    Sheena Carter      F  11th   Huang High School
8               8     Michael Roth      M  10th   Huang High School
...           ...              ...    ...   ...                 ...
39165       39165     Donna Howard      F  12th  Thomas High School
39166       39166        Dawn Bell      F  10th  Thomas High School
39167       39167   Rebecca Tanner      F   9th  Thomas High School
39168       39168     Desiree Kidd      F  10th  Thomas High School
39169       39169  Carolyn Jackson      F  11th  Thomas High School

       reading_score  math_score  School ID      type  size   budget
0                 66          79          0  District  2917  1910635
4                 97          84          0  District  2917  1910635
5                 94          94          0  District  2917  1910635
6                 82          80          0  District  2917  1910635
8                 95          87          0  District  2917  1910635
...              ...         ...        ...       ...   ...      ...
39165             99          90         14   Charter  1635  1043130
39166             95          70         14   Charter  1635  1043130
39167             73          84         14   Charter  1635  1043130
39168             99          90         14   Charter  1635  1043130
39169             95          75         14   Charter  1635  1043130

[29370 rows x 11 columns]

In [88]:
# Calculate the number of schools with reading scores of 70 or higher
school_passing_reading = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70)]

print(school_passing_reading)

       Student ID     student_name gender grade         school_name  \
1               1     Victor Smith      M  12th   Huang High School
2               2  Kevin Rodriguez      M  12th   Huang High School
4               4       Bonnie Ray      F   9th   Huang High School
5               5    Bryan Miranda      M   9th   Huang High School
6               6    Sheena Carter      F  11th   Huang High School
...           ...              ...    ...   ...                 ...
39165       39165     Donna Howard      F  12th  Thomas High School
39166       39166        Dawn Bell      F  10th  Thomas High School
39167       39167   Rebecca Tanner      F   9th  Thomas High School
39168       39168     Desiree Kidd      F  10th  Thomas High School
39169       39169  Carolyn Jackson      F  11th  Thomas High School

       reading_score  math_score  School ID      type  size   budget
1                 94          61          0  District  2917  1910635
2                 90          60          0  District  2917  1910635
4                 97          84          0  District  2917  1910635
5                 94          94          0  District  2917  1910635
6                 82          80          0  District  2917  1910635
...              ...         ...        ...       ...   ...      ...
39165             99          90         14   Charter  1635  1043130
39166             95          70         14   Charter  1635  1043130
39167             73          84         14   Charter  1635  1043130
39168             99          90         14   Charter  1635  1043130
39169             95          75         14   Charter  1635  1043130

[33610 rows x 11 columns]

In [112]:
# Use the provided code to calculate the schools that passed both math and reading with scores of 70 or higher
passing_math_and_reading = school_data_complete_df[(school_data_complete_df["math_score"] >= 70)
                                               & (school_data_complete_df["reading_score"] >= 70)]

print(passing_math_and_reading)

       Student ID     student_name gender grade         school_name  \
4               4       Bonnie Ray      F   9th   Huang High School
5               5    Bryan Miranda      M   9th   Huang High School
6               6    Sheena Carter      F  11th   Huang High School
8               8     Michael Roth      M  10th   Huang High School
9               9   Matthew Greene      M  10th   Huang High School
...           ...              ...    ...   ...                 ...
39165       39165     Donna Howard      F  12th  Thomas High School
39166       39166        Dawn Bell      F  10th  Thomas High School
39167       39167   Rebecca Tanner      F   9th  Thomas High School
39168       39168     Desiree Kidd      F  10th  Thomas High School
39169       39169  Carolyn Jackson      F  11th  Thomas High School

       reading_score  math_score  School ID      type  size   budget
4                 97          84          0  District  2917  1910635
5                 94          94          0  District  2917  1910635
6                 82          80          0  District  2917  1910635
8                 95          87          0  District  2917  1910635
9                 96          84          0  District  2917  1910635
...              ...         ...        ...       ...   ...      ...
39165             99          90         14   Charter  1635  1043130
39166             95          70         14   Charter  1635  1043130
39167             73          84         14   Charter  1635  1043130
39168             99          90         14   Charter  1635  1043130
39169             95          75         14   Charter  1635  1043130

[25528 rows x 11 columns]

In [154]:
# Use the provided code to calculate the passing rates
school_passing_math = school_passing_math.groupby(["school_name"]).count()["student_name"]
print(per_school_passing_math)

school_passing_reading= school_passing_reading.groupby(["school_name"]).count()["student_name"]
print(school_passing_reading)

KeyError: 'school_name'

In [149]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
school_summary_df = pd.DataFrame({
    "School Type": school_types,
    "Total Students": school_counts,
    "Total School Budget": school_budget,
    "Per Student Budget": school_capita,
    "Average Math Score": avg_math,
    "Average Reading Score": avg_read,
    "% Passing Math": school_passing_math,
    "% Passing Reading": school_passing_reading,
    "% Overall Passing":overall_passing_rate})

# Formatting
school_summary_df["Total School Budget"] = school_summary_df["Total School Budget"].map("${:,.2f}".format)
school_summary_df["Per Student Budget"] = school_summary_df["Per Student Budget"].map("${:,.2f}".format)

# Display the DataFrame
school_summary_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976,"$3,124,928.00",$628.00,78.99,81.88,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,78.99,81.88,94.133477,97.039828,91.334769
Figueroa High School,District,2949,"$1,884,411.00",$639.00,78.99,81.88,65.988471,80.739234,53.204476
Ford High School,District,2739,"$1,763,916.00",$644.00,78.99,81.88,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,"$917,500.00",$625.00,78.99,81.88,93.392371,97.138965,90.599455
Hernandez High School,District,4635,"$3,022,020.00",$652.00,78.99,81.88,66.752967,80.862999,53.527508
Holden High School,Charter,427,"$248,087.00",$581.00,78.99,81.88,92.505855,96.252927,89.227166
Huang High School,District,2917,"$1,910,635.00",$655.00,78.99,81.88,65.683922,81.316421,53.513884
Johnson High School,District,4761,"$3,094,650.00",$650.00,78.99,81.88,66.057551,81.222432,53.539172
Pena High School,Charter,962,"$585,858.00",$609.00,78.99,81.88,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,78.99,81.88,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,78.99,81.88,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,78.99,81.88,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,78.99,81.88,93.867718,96.539641,90.582567
Wright High School,Charter,1800,"$1,049,400.00",$583.00,78.99,81.88,93.333333,96.611111,90.333333

## Highest-Performing Schools (by % Overall Passing)

In [150]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
top_schools = school_summary_df.sort_values(["% Overall Passing"], ascending=False)

top_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,78.99,81.88,94.133477,97.039828,91.334769
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,78.99,81.88,93.272171,97.308869,90.948012
Griffin High School,Charter,1468,"$917,500.00",$625.00,78.99,81.88,93.392371,97.138965,90.599455
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,78.99,81.88,93.867718,96.539641,90.582567
Pena High School,Charter,962,"$585,858.00",$609.00,78.99,81.88,94.594595,95.945946,90.540541

## Bottom Performing Schools (By % Overall Passing)

In [151]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
bottom_schools = school_summary_df.sort_values(["% Overall Passing"], ascending=True)
bottom_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,78.99,81.88,66.366592,80.220055,52.988247
Figueroa High School,District,2949,"$1,884,411.00",$639.00,78.99,81.88,65.988471,80.739234,53.204476
Huang High School,District,2917,"$1,910,635.00",$655.00,78.99,81.88,65.683922,81.316421,53.513884
Hernandez High School,District,4635,"$3,022,020.00",$652.00,78.99,81.88,66.752967,80.862999,53.527508
Johnson High School,District,4761,"$3,094,650.00",$650.00,78.99,81.88,66.057551,81.222432,53.539172

## Math Scores by Grade

In [153]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete_[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by "school_name" and take the mean of each.
ninth_grade_math_scores = ninth_graders.groupby(["school_name"]).mean()["math_score"]

tenth_grade_math_scores = tenth_graders.groupby(["school_name"]).mean()["math_score"]

eleventh_grade_math_scores = eleventh_graders.groupby(["school_name"]).mean()["math_score"]

twelfth_grade_math_scores = twelfth_graders.groupby(["school_name"]).mean()["math_score"]

# Use the code to select only the `math_score`.
ninth_grade_math_scores = ninth_graders_math_scores["math_score"]
tenth_grader_math_scores = tenth_graders_math_scores["math_score"]
eleventh_grader_math_scores = eleventh_graders_math_scores["math_score"]
twelfth_grader_math_scores = twelfth_graders_math_scores["math_score"]

# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
math_scores_by_grade = pd.DataFrame({
               "9th": ninth_grade_math_scores,
               "10th": tenth_grade_math_scores,
               "11th": eleventh_grade_math_scores,
               "12th": twelfth_grade_math_scores})

math_scores_by_grade.head(20)

# Minor data wrangling
math_scores_by_grade.index.name = None

# Display the DataFrame
math_scores_by_grade

C:\Users\JMARS\AppData\Local\Temp\ipykernel_19396\3734663326.py:8: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  ninth_grade_math_scores = ninth_graders.groupby(["school_name"]).mean()["math_score"]
C:\Users\JMARS\AppData\Local\Temp\ipykernel_19396\3734663326.py:10: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  tenth_grade_math_scores = tenth_graders.groupby(["school_name"]).mean()["math_score"]
C:\Users\JMARS\AppData\Local\Temp\ipykernel_19396\3734663326.py:12: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  eleventh_grade_math_scores = eleventh_graders.groupby(["school_name"]).mean()["math_score"]
C:\Users\JMARS\AppData\Local\Temp\ipykernel_19396\3734663326.py:14: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  twelfth_grade_math_scores = twelfth_graders.groupby(["school_name"]).mean()["math_score"]

NameError: name 'ninth_graders_math_scores' is not defined

## Reading Score by Grade

In [ ]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by "school_name" and take the mean of each.
ninth_graders_scores = 
tenth_graders_scores = 
eleventh_graders_scores = 
twelfth_graders_scores = 

# Use the code to select only the `reading_score`.
ninth_grade_reading_scores = ninth_graders_scores["reading_score"]
tenth_grader_reading_scores = tenth_graders_scores["reading_score"]
eleventh_grader_reading_scores = eleventh_graders_scores["reading_score"]
twelfth_grader_reading_scores = twelfth_graders_scores["reading_score"]

# Combine each of the scores above into single DataFrame called `reading_scores_by_grade`
reading_scores_by_grade = 

# Minor data wrangling
reading_scores_by_grade = reading_scores_by_grade[["9th", "10th", "11th", "12th"]]
reading_scores_by_grade.index.name = None

# Display the DataFrame
reading_scores_by_grade

## Scores by School Spending

In [ ]:
# Establish the bins 
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [ ]:
# Create a copy of the school summary since it has the "Per Student Budget" 
school_spending_df = per_school_summary.copy()

In [ ]:
# Use `pd.cut` to categorize spending based on the bins.
school_spending_df["Spending Ranges (Per Student)"] = 
school_spending_df

In [ ]:
#  Calculate averages for the desired columns. 
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Math Score"]
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Reading Score"]
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Math"]
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Reading"]
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Overall Passing"]

In [ ]:
# Assemble into DataFrame
spending_summary = 

# Display results
spending_summary

## Scores by School Size

In [ ]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [ ]:
# Categorize the spending based on the bins
# Use `pd.cut` on the "Total Students" column of the `per_school_summary` DataFrame.

per_school_summary["School Size"] = 
per_school_summary

In [ ]:
# Calculate averages for the desired columns. 
size_math_scores = per_school_summary.groupby(["School Size"]).mean()["Average Math Score"]
size_reading_scores = per_school_summary.groupby(["School Size"]).mean()["Average Reading Score"]
size_passing_math = per_school_summary.groupby(["School Size"]).mean()["% Passing Math"]
size_passing_reading = per_school_summary.groupby(["School Size"]).mean()["% Passing Reading"]
size_overall_passing = per_school_summary.groupby(["School Size"]).mean()["% Overall Passing"]

In [ ]:
# Create a DataFrame called `size_summary` that breaks down school performance based on school size (small, medium, or large).
# Use the scores above to create a new DataFrame called `size_summary`
size_summary = 

# Display results
size_summary

## Scores by School Type

In [ ]:
# Group the per_school_summary DataFrame by "School Type" and average the results.
per_school_summary_df = pd.DataFrame({
 type_math_scores =    
})
type_math_scores = 
type_reading_scores = 
type_passing_math = 
type_passing_reading = 
type_overall_passing = 

# Use the code provided to select new column data
average_math_score_by_type = type_math_scores["Average Math Score"]
average_reading_score_by_type = type_reading_scores["Average Reading Score"]
average_percent_passing_math_by_type = type_passing_math["% Passing Math"]
average_percent_passing_reading_by_type = type_passing_reading["% Passing Reading"]
average_percent_overall_passing_by_type = type_overall_passing["% Overall Passing"]

In [ ]:
# Assemble the new data by type into a DataFrame called `type_summary`

type_summary_df = pd.DataFrame({
          "Average Math Score" : type_math_scores,
          "Average Reading Score": type_reading_scores,
          "% Passing Math": type_passing_math,
          "% Passing Reading": type_passing_reading,
          "% Overall Passing": type_overall_passing})

# Display results
type_summary_df